{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
posts
{% endblock title %}
{% block content %}
   <h1>Все новости</h1>

   <form action="" method="get">

       {{ filterset.form.as_p }}

       <input type="submit" value="Найти" />
   </form>

   <h3>{{ time_now|date:'M d Y' }}</h3>
   <h6> Количество новостей : {{ posts | length }} </h6>
   <h6> {{ next_sale|default_if_none:"Следите за новостями!" }} </h6>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Категория </td>
               <td>Опубликовано</td>
               <td>Содержание</td>
           </tr>

           {% for Post in posts %}
           <tr>
               <td> <a  href ="{{Post.id}} "> {{ Post.title | cenzura }}</a>  </td>
               <td> {% for category in Post.category.all %}
                    <a  href ="{% url 'category_list' category.id %}"> {{ category}}</a>
                    {% endfor %} </td>
               <td>{{ Post.post_time }}</td>
               <td>{{ Post.content | truncatewords:10 | cenzura }}</td>

           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новости не найдены!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}



{% endblock content %}

